@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
h3,
h4,
p,
a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fdfdfd;
}

.header .mobile-nav-bar .sign-up, .header .mobile-nav-bar .sign-in, .header .nav-bar .desctop-form .sign-up, .header .nav-bar .desctop-form .sign-in {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fdfdfd;
}

.container, .footer, .contacts, .courses, .about-us, .advantages {
  max-width: 1200px;
  margin: 0 auto;
}

button {
  border: none;
}

.header {
  width: 100%;
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}
.header .nav-bar {
  width: 920px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header .nav-bar {
    display: none;
  }
}
.header .nav-bar__list {
  display: flex;
  justify-content: space-around;
  width: 570px;
}
.header .nav-bar .desctop-form {
  position: relative;
  margin-right: 10px;
}
.header .nav-bar .desctop-form .sign-in {
  width: 74px;
  height: 30px;
  background: #0075ee;
  border-radius: 10px 0px;
  margin-right: 8px;
}
.header .nav-bar .desctop-form .sign-up {
  width: 74px;
  height: 30px;
  background: #fa9f42;
  border-radius: 10px 0px;
}
.header .nav-bar__link:hover {
  border-bottom: 2px dashed #fa9f42;
}
.header .mobile-nav-bar {
  display: none;
}
@media screen and (max-width: 768px) {
  .header .mobile-nav-bar {
    display: flex;
    justify-content: space-around;
    max-width: 768px;
    width: 100%;
  }
}
.header .mobile-nav-bar .logo img {
  position: relative;
  top: 10px;
}
.header .mobile-nav-bar .mobile-menu__pad-img {
  cursor: pointer;
}
.header .mobile-nav-bar .mobile-menu__phone-img {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 460px) {
  .header .mobile-nav-bar .mobile-menu__phone-img {
    display: block;
  }
}
.header .mobile-nav-bar .mobile-menu .overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .mobile-nav-bar .mobile-menu .overlay__nav-bar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.header .mobile-nav-bar .mobile-menu .overlay__nav-bar-item {
  margin: 30px 0;
}
.header .mobile-nav-bar .mobile-menu .overlay__link {
  font-size: 22px;
}
.header .mobile-nav-bar .mobile-menu .overlay__pad-img {
  margin-top: 70px;
  transform: rotate(180deg);
  cursor: pointer;
}
@media screen and (max-width: 460px) {
  .header .mobile-nav-bar .mobile-form {
    display: none;
  }
}
.header .mobile-nav-bar .sign-in {
  width: 74px;
  height: 30px;
  background: #0075ee;
  border-radius: 10px 0px;
  margin-right: 8px;
}
.header .mobile-nav-bar .sign-up {
  width: 74px;
  height: 30px;
  background: #fa9f42;
  border-radius: 10px 0px;
}

.header_active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #088f64;
}

.main-block {
  width: 100%;
  height: 800px;
  background: #10b582;
  margin-bottom: 120px;
}
@media screen and (max-width: 720px) {
  .main-block {
    height: 600px;
  }
}
.main-block__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 550px;
  position: relative;
  top: 150px;
  left: 0;
}
@media screen and (max-width: 720px) {
  .main-block__row {
    min-height: 426px;
  }
}
.main-block__item:nth-child(odd) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.main-block__item:nth-child(odd) .link-block {
  width: 22px;
  height: 126px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-block__item:nth-child(odd) .img-container .first-main-img {
  position: relative;
  z-index: 1;
}
.main-block__item:nth-child(odd) .img-container .first-main-background {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 0;
}
.main-block__item:nth-child(odd) .img-container .second-main-img {
  position: relative;
  z-index: 1;
}
.main-block__item:nth-child(odd) .img-container .second-main-background {
  position: absolute;
  top: -30px;
  right: 30px;
}
.main-block__item:nth-child(odd) .down-block {
  transform: rotate(-90deg);
  position: absolute;
  bottom: 70px;
  right: -40px;
  display: flex;
}
.main-block__item:nth-child(odd) .down-block:hover {
  cursor: pointer;
}
.main-block__item:nth-child(odd) .down-block img {
  transform: rotate(90deg);
  position: relative;
  top: -1px;
}
.main-block__item:nth-child(odd) .down-block .swipe-down {
  padding-left: 16px;
}
.main-block__item:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-block__item:nth-child(2) .logo {
  margin: 0 auto 40px;
}
.main-block__item:nth-child(2) .text-block {
  max-width: 542px;
  max-height: 314px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1096px) {
  .main-block__item:nth-child(2) .text-block {
    width: 340px;
  }
}
.main-block__item:nth-child(2) .text-block h3 {
  font-size: 58px;
  line-height: 120%;
  text-align: center;
}
@media screen and (max-width: 1096px) {
  .main-block__item:nth-child(2) .text-block h3 {
    font-size: 46px;
    line-height: 100%;
  }
}
.main-block__item:nth-child(2) .text-block p {
  max-width: 378px;
  min-height: 48px;
  line-height: 150%;
  text-align: center;
  margin: 20px auto 50px;
}
@media screen and (max-width: 480px) {
  .main-block__item:nth-child(2) .text-block p {
    line-height: 110%;
  }
}
.main-block__item:nth-child(2) .text-block .scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0;
  width: 120px;
  height: 120px;
  background: #07ad79;
  border-radius: 50%;
  position: relative;
  right: 0px;
  bottom: 0px;
  z-index: 50;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  opacity: 0.8;
}
.main-block__item:nth-child(2) .text-block .scroll-down:hover {
  cursor: pointer;
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  .main-block__item:nth-child(2) .text-block .scroll-down {
    display: none;
  }
}
.main-block__item:nth-child(2) .text-block .main-btn {
  width: 230px;
  height: 56px;
  background: #fa9f42;
  border-radius: 0px 20px;
}
@media screen and (max-width: 1024px) {
  .main-block .main-block__row {
    display: flex;
    flex-direction: column-reverse;
    top: 100px;
    position: relative;
  }
  .main-block .main-block__row .main-block__item:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .main-block .main-block__row .main-block__item:nth-child(3) .down-block {
    display: none;
  }
  .main-block .main-block__row .main-block__item:nth-child(2) {
    margin: 0 auto;
  }
  .main-block .main-block__row .main-block__item:nth-child(2) .text-block {
    width: 100%;
    height: 100%;
  }
  .main-block .main-block__row .main-block__item:nth-child(2) .text-block h3 {
    font-size: 52px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 560px) {
  .main-block .main-block__row .main-block__item:nth-child(2) .text-block h3 {
    font-size: 36px;
  }
}
@media screen and (max-width: 1024px) {
  .main-block .main-block__row .main-block__item:nth-child(2) .text-block p {
    margin: 20px auto;
  }
}
@media screen and (max-width: 1024px) {
  .main-block .main-block__row .main-block__item:nth-child(2) .btn-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media screen and (max-width: 1024px) and (max-width: 760px) {
  .main-block .main-block__row .main-block__item:nth-child(2) .btn-container .scroll-down {
    position: relative;
    bottom: -100px;
    right: 0px;
    width: 90px;
    height: 90px;
    opacity: 0.8;
  }
  .main-block .main-block__row .main-block__item:nth-child(2) .btn-container .scroll-down:hover {
    opacity: 1;
  }
}
@media screen and (max-width: 1024px) and (max-width: 760px) and (max-width: 720px) {
  .main-block .main-block__row .main-block__item:nth-child(2) .btn-container .scroll-down {
    position: relative;
    bottom: 140px;
    right: 0px;
  }
}
@media screen and (max-width: 1024px) {
  .main-block .main-block__row .main-block__item:nth-child(2) .btn-container .main-btn {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 760px) {
  .main-block .main-block__row .main-block__item:nth-child(2) .btn-container .main-btn {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 1024px) {
  .main-block .main-block__row .main-block__item:nth-child(1) .link-block {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  .main-block .main-block__item:nth-child(odd) {
    display: none;
  }
  .main-block .main-block__item:nth-child(2) {
    margin: auto;
  }
}

.scroll-up {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0;
  width: 120px;
  height: 120px;
  background: #07ad79;
  border-radius: 50%;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 50;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  opacity: 0.8;
  transform: rotate(180deg);
}
.scroll-up:hover {
  cursor: pointer;
  opacity: 1;
}
.scroll-up__btn {
  display: none;
}
.scroll-up .scroll-up__btn_active {
  display: block;
}
@media screen and (max-width: 760px) {
  .scroll-up {
    position: fixed;
    bottom: 120px;
    right: 26px;
    width: 90px;
    height: 90px;
    opacity: 0.8;
  }
  .scroll-up:hover {
    opacity: 1;
  }
}

.advantages {
  margin: 0 auto 120px;
}
.advantages__row {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 1023px) {
  .advantages__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    row-gap: 40px;
  }
}
@media screen and (max-width: 560px) {
  .advantages__row {
    grid-template-columns: repeat(1, 1fr);
  }
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 270px;
}
.advantages__item-title {
  margin-bottom: 15px;
}
.advantages__item-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #353a5a;
}

.about-us {
  margin-bottom: 120px;
}
.about-us__container {
  display: flex;
  justify-content: space-between;
}
.about-us__description-container {
  max-width: 500px;
}
.about-us__description {
  margin: 65px 0 14px;
}
.about-us__description h3 {
  font-size: 58px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353a5a;
}
@media screen and (max-width: 560px) {
  .about-us__description h3 {
    font-size: 36px;
  }
}
.about-us__description p {
  font-weight: 400;
  line-height: 150%;
  color: #353a5a;
  margin: 16px 0 32px;
}
.about-us__description .all-teachers {
  width: 230px;
  height: 56px;
  background: #10b582;
  border-radius: 0px 20px;
}
.about-us .our-teachers {
  max-width: 570px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.about-us .our-teachers__item {
  width: 170px;
}
.about-us .our-teachers__item:nth-child(1) {
  margin: 0 15px 0 0;
}
.about-us .our-teachers__item:nth-child(2) {
  margin: 0 15px 15px;
}
.about-us .our-teachers__item:nth-child(3) {
  margin: 0 0 15px 15px;
}
.about-us .our-teachers__item:nth-child(4) {
  margin: 15px 15px 0 0;
}
.about-us .our-teachers__item:nth-child(5) {
  margin: 15px 15px 0;
}
.about-us .our-teachers__item:nth-child(6) {
  margin: 15px 0 0 15px;
}
.about-us .our-teachers__item img {
  margin-bottom: 15px;
}
.about-us .our-teachers__item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #353a5a;
}
@media screen and (max-width: 1200px) {
  .about-us__container {
    flex-direction: column;
    align-items: center;
  }
  .about-us__description-container {
    max-width: 1000px;
  }
  .about-us__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .about-us__description .all-teachers {
    margin-bottom: 50px;
  }
  .about-us .our-teachers {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    height: 220px;
    overflow: hidden;
  }
}
@media screen and (max-width: 1200px) and (max-width: 662px) {
  .about-us .our-teachers {
    justify-content: center;
    margin: auto;
  }
}
@media screen and (max-width: 1200px) {
  .about-us .our-teachers__item {
    padding: 0 15px;
  }
  .about-us .our-teachers__item:nth-child(odd) {
    margin: 0;
  }
  .about-us .our-teachers__item:nth-child(even) {
    margin: 0;
  }
}

.learning-format {
  background: #10b582;
  width: 100%;
  height: 600px;
  margin-bottom: 120px;
}
@media screen and (max-width: 560px) {
  .learning-format {
    height: 460px;
  }
}
.learning-format__wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
}
@media screen and (max-width: 560px) {
  .learning-format__wrap {
    height: 480px;
  }
}
.learning-format__img-block {
  position: relative;
}
.learning-format__img-main {
  position: relative;
  z-index: 1;
}
.learning-format__img-background {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 0;
}
.learning-format__descrption {
  text-align: end;
  max-width: 550px;
}
.learning-format__descrption h3 {
  font-size: 58px;
  line-height: 120%;
}
@media screen and (max-width: 560px) {
  .learning-format__descrption h3 {
    font-size: 36px;
  }
}
.learning-format__descrption p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin: 20px 0 50px;
}
.learning-format__descrption .btn-courses {
  width: 230px;
  height: 56px;
  background: #fa9f42;
  border-radius: 0px 20px;
}
@media screen and (max-width: 1120px) {
  .learning-format__wrap {
    flex-direction: column;
  }
  .learning-format__img-block {
    display: none;
  }
  .learning-format__descrption {
    text-align: center;
    max-width: 700px;
  }
}

.courses__container {
  width: 100%;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
}
.courses__title {
  font-size: 58px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353a5a;
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (max-width: 560px) {
  .courses__title {
    font-size: 48px;
  }
}
.courses__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
@media screen and (max-width: 1200px) {
  .courses__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    row-gap: 40px;
  }
}
@media screen and (max-width: 660px) {
  .courses__row {
    grid-template-columns: repeat(1, 1fr);
  }
}
.courses__item {
  width: 270px;
  height: 226px;
  background: #fdfdfd;
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.2);
  border-radius: 10px;
}
.courses__item-img {
  margin: 20px 20px 15px;
}
.courses__item-img-description {
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353a5a;
  text-align: center;
}
.courses .btn-all-courses {
  width: 230px;
  height: 56px;
  background: #10b582;
  border-radius: 0px 20px;
  margin: auto;
}

.join {
  background: url(./../img/courses/photo2.png) no-repeat;
  background-position: center;
  max-width: 1440px;
  height: 578px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.join__container {
  max-width: 500px;
  margin: auto 120px auto 0;
}
@media screen and (max-width: 1100px) {
  .join__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .join__container {
    margin: auto;
    padding: 20px;
  }
}
.join__title {
  font-size: 58px;
  line-height: 120%;
  color: #353a5a;
}
@media screen and (max-width: 1100px) {
  .join__title {
    text-align: center;
  }
}
@media screen and (max-width: 560px) {
  .join__title {
    font-size: 48px;
  }
}
.join__description {
  font-weight: 400;
  line-height: 150%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353a5a;
  margin: 20px 0 50px;
}
.join .join-btn {
  width: 230px;
  height: 56px;
  background: #fa9f42;
  border-radius: 0px 20px;
}

.contacts {
  height: 300px;
  border-top: 1px solid #dbdce0;
  border-bottom: 1px solid #dbdce0;
  margin-top: 120px;
}
@media screen and (max-width: 908px) {
  .contacts {
    display: none;
  }
}
.contacts__row {
  display: flex;
  justify-content: space-around;
  margin: 80px 0 50px;
}
.contacts__item {
  padding: 0 6px;
}
.contacts__item .first-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #353a5a;
  margin: 22px 0 47px;
}
.contacts__item .last-description {
  font-weight: 400;
  color: #353a5a;
}
.contacts__item .last-description a {
  font-weight: 400;
  color: #353a5a;
}
.contacts__item .last-description a:hover {
  color: #0020ee;
}
.contacts__item .link-block {
  width: 116px;
  display: flex;
  justify-content: space-between;
}
.contacts__item h4 {
  color: #353a5a;
  margin-bottom: 30px;
}
.contacts__item .contacts__list li {
  margin: 10px 0;
}
.contacts__item .contacts__list li:first-child {
  margin-top: 0;
}
.contacts__item .contacts__list li:last-child {
  margin-bottom: 0;
}
.contacts__item .contacts__list li a {
  font-weight: 400;
  color: #353a5a;
}
.contacts__item .contacts__list li a:hover {
  color: #0020ee;
}
.contacts__item:first-child {
  width: 270px;
}
.contacts__item:last-child {
  width: 182px;
}

.footer {
  width: 100%;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer a {
  font-weight: 400;
  font-size: 14px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353a5a;
}
.footer .privacy-policy > a {
  margin-right: 20px;
}