@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
.header {
  width: 100%;
  min-height: 64px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}
.header .nav-bar {
  width: 650px;
  height: 24px;
}
.header .nav-bar__list {
  display: flex;
  justify-content: space-around;
}
.header .nav-bar__item {
  margin-bottom: 8px;
}
.header .nav-bar__link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #FDFDFD;
}
.header .nav-bar__link:hover {
  border-bottom: 2px dashed #fa9f42;
}

.main-block {
  width: 100%;
  height: 800px;
  background: #10b582;
  margin-bottom: 120px;
}
@media screen and (max-width: 624px) {
  .main-block {
    height: 600px;
  }
}
.main-block__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 550px;
  position: relative;
  top: 150px;
  left: 0;
}
@media screen and (max-width: 624px) {
  .main-block__row {
    min-height: 426px;
  }
}
.main-block__item:nth-child(odd) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.main-block__item:nth-child(odd) .link-block {
  width: 22px;
  height: 126px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-block__item:nth-child(odd) .img-container .first-main-img {
  position: relative;
  z-index: 1;
}
.main-block__item:nth-child(odd) .img-container .first-main-background {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 0;
}
.main-block__item:nth-child(odd) .img-container .second-main-img {
  position: relative;
  z-index: 1;
}
.main-block__item:nth-child(odd) .img-container .second-main-background {
  position: absolute;
  top: -30px;
  right: 30px;
}
.main-block__item:nth-child(odd) .down-block {
  transform: rotate(-90deg);
  position: absolute;
  bottom: 70px;
  right: -40px;
  display: flex;
}
.main-block__item:nth-child(odd) .down-block:hover {
  cursor: pointer;
}
.main-block__item:nth-child(odd) .down-block img {
  transform: rotate(90deg);
  position: relative;
  top: -1px;
}
.main-block__item:nth-child(odd) .down-block .swipe-down {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #fdfdfd;
  padding-left: 16px;
}
.main-block__item:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-block__item:nth-child(2) .logo {
  margin: 0 auto 40px;
}
.main-block__item:nth-child(2) .text-block {
  max-width: 542px;
  max-height: 314px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1096px) {
  .main-block__item:nth-child(2) .text-block {
    width: 340px;
  }
}
.main-block__item:nth-child(2) .text-block h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 120%;
  text-align: center;
  color: #fdfdfd;
}
@media screen and (max-width: 1096px) {
  .main-block__item:nth-child(2) .text-block h3 {
    font-size: 46px;
    line-height: 100%;
  }
}
.main-block__item:nth-child(2) .text-block p {
  max-width: 378px;
  height: 48px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fdfdfd;
  text-align: center;
  margin: 20px auto 50px;
}
.main-block__item:nth-child(2) .text-block .scroll-down {
  display: none;
}
.main-block__item:nth-child(2) .text-block .main-btn {
  width: 230px;
  height: 56px;
  background: #fa9f42;
  border-radius: 0px 20px;
  border: none;
}
.main-block__item:nth-child(2) .text-block .main-btn a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #fdfdfd;
}
@media screen and (max-width: 1024px) {
  .main-block .main-block__row {
    display: flex;
    flex-direction: column-reverse;
    top: 100px;
    position: relative;
  }
  .main-block .main-block__row .main-block__item:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .main-block .main-block__row .main-block__item:nth-child(3) .down-block {
    display: none;
  }
  .main-block .main-block__row .main-block__item:nth-child(2) {
    margin: 0 auto;
  }
  .main-block .main-block__row .main-block__item:nth-child(2) .text-block {
    width: 100%;
    height: 100%;
  }
  .main-block .main-block__row .main-block__item:nth-child(2) .text-block h3 {
    font-size: 52px;
  }
  .main-block .main-block__row .main-block__item:nth-child(2) .text-block p {
    margin: 20px auto;
  }
  .main-block .main-block__row .main-block__item:nth-child(2) .btn-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .main-block .main-block__row .main-block__item:nth-child(2) .btn-container .scroll-down {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto 0;
    width: 120px;
    height: 120px;
    background: #07ad79;
    border-radius: 50%;
    position: relative;
    z-index: 50;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
    opacity: 0.8;
  }
  .main-block .main-block__row .main-block__item:nth-child(2) .btn-container .scroll-down:hover {
    cursor: pointer;
    opacity: 1;
  }
}
@media screen and (max-width: 1024px) and (max-width: 760px) {
  .main-block .main-block__row .main-block__item:nth-child(2) .btn-container .scroll-down {
    position: fixed;
    bottom: 120px;
    right: 26px;
    width: 90px;
    height: 90px;
    opacity: 0.8;
  }
  .main-block .main-block__row .main-block__item:nth-child(2) .btn-container .scroll-down:hover {
    opacity: 1;
  }
}
@media screen and (max-width: 1024px) {
  .main-block .main-block__row .main-block__item:nth-child(2) .btn-container .main-btn {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 760px) {
  .main-block .main-block__row .main-block__item:nth-child(2) .btn-container .main-btn {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 1024px) {
  .main-block .main-block__row .main-block__item:nth-child(1) .link-block {
    display: none;
  }
}
@media screen and (max-width: 624px) {
  .main-block .main-block__item:nth-child(odd) {
    display: none;
  }
  .main-block .main-block__item:nth-child(2) {
    margin: auto;
  }
}

.advantages {
  margin: 0 auto 120px;
}
.advantages__row {
  display: flex;
  justify-content: space-around;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
}
.advantages__item-title {
  margin-bottom: 15px;
}
.advantages__item-description {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #353a5a;
}

.about-us {
  margin-bottom: 120px;
}
.about-us__container {
  display: flex;
  justify-content: space-between;
}
.about-us__description-container {
  max-width: 500px;
}
.about-us__description {
  margin: 65px 0 14px;
}
.about-us__description h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 100%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353a5a;
}
.about-us__description p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #353a5a;
  margin: 16px 0 32px;
}
.about-us__description .all-teachers {
  width: 230px;
  height: 56px;
  background: #10b582;
  border-radius: 0px 20px;
  border: none;
}
.about-us__description .all-teachers a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fdfdfd;
}
.about-us .our-teachers {
  max-width: 570px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.about-us .our-teachers__item {
  width: 170px;
}
.about-us .our-teachers__item:nth-child(1) {
  margin: 0 15px 0 0;
}
.about-us .our-teachers__item:nth-child(2) {
  margin: 0 15px 15px;
}
.about-us .our-teachers__item:nth-child(3) {
  margin: 0 0 15px 15px;
}
.about-us .our-teachers__item:nth-child(4) {
  margin: 15px 15px 0 0;
}
.about-us .our-teachers__item:nth-child(5) {
  margin: 15px 15px 0;
}
.about-us .our-teachers__item:nth-child(6) {
  margin: 15px 0 0 15px;
}
.about-us .our-teachers__item img {
  margin-bottom: 15px;
}
.about-us .our-teachers__item p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #353a5a;
}
@media screen and (max-width: 1200px) {
  .about-us__container {
    flex-direction: column;
    align-items: center;
  }
  .about-us__description-container {
    max-width: 1000px;
  }
  .about-us__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .about-us__description .all-teachers {
    margin-bottom: 50px;
  }
  .about-us .our-teachers {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    height: 220px;
    overflow: hidden;
  }
  .about-us .our-teachers__item {
    padding: 0 15px;
  }
  .about-us .our-teachers__item:nth-child(odd) {
    margin: 0;
  }
  .about-us .our-teachers__item:nth-child(even) {
    margin: 0;
  }
}

.learning-format {
  background: #10b582;
  width: 100%;
  height: 600px;
  margin-bottom: 120px;
}
.learning-format__wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
}
.learning-format__img-block {
  position: relative;
}
.learning-format__img-main {
  position: relative;
  z-index: 1;
}
.learning-format__img-background {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 0;
}
.learning-format__descrption {
  text-align: end;
  max-width: 550px;
}
.learning-format__descrption h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 120%;
  color: #fdfdfd;
}
.learning-format__descrption p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fdfdfd;
  margin: 20px 0 50px;
}
.learning-format__descrption .btn-courses {
  background: #fa9f42;
  border-radius: 0px 20px;
  width: 230px;
  height: 56px;
  border: none;
}
.learning-format__descrption .btn-courses a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fdfdfd;
}
@media screen and (max-width: 1120px) {
  .learning-format__wrap {
    flex-direction: column;
  }
  .learning-format__img-block {
    display: none;
  }
  .learning-format__descrption {
    text-align: center;
    max-width: 700px;
  }
}

.courses__container {
  width: 100%;
  height: 460px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
}
.courses__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 100%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353a5a;
  margin-bottom: 60px;
  text-align: center;
}
.courses__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.courses__item {
  width: 270px;
  height: 226px;
  background: #fdfdfd;
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.2);
  border-radius: 10px;
}
.courses__item-img {
  margin: 20px 20px 15px;
}
.courses__item-img-description {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353a5a;
  text-align: center;
}
.courses .btn-all-courses {
  width: 230px;
  height: 56px;
  background: #10b582;
  border-radius: 0px 20px;
  border: none;
  margin: auto;
}
.courses .btn-all-courses a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fdfdfd;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}