.advantages {
	margin: 0 auto 120px;
	@extend .container;
	&__row {
		display: flex;
		justify-content: space-around;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 270px;
	}
	&__item-title {
		margin-bottom: 15px;
	}
	&__item-description {
		
		font-weight: 400;
		font-size: 14px;
		line-height: 120%;
		text-align: center;
		color: #353a5a;
	}
}
