.contacts {
	height: 300px;
	border-top: 1px solid #dbdce0;
	border-bottom: 1px solid #dbdce0;
	margin-top: 120px;
	@extend .container;
	@media screen and (max-width: 908px) {
		display: none;
	}
	&__row {
		display: flex;
		justify-content: space-around;
		margin: 80px 0 50px;
	}
	&__item {
		padding: 0 6px;
		.first-description {
			font-weight: 400;
			font-size: 14px;
			line-height: 130%;
			color: #353a5a;
			margin: 22px 0 47px;
		}
		.last-description {
			font-weight: 400;
			color: #353a5a;
			a {
				font-weight: 400;
				color: #353a5a;
				&:hover {
					color: #0020ee;
				}
			}
		}
		.link-block {
			width: 116px;
			display: flex;
			justify-content: space-between;
		}
		h4 {
			color: #353a5a;
			margin-bottom: 30px;
		}
		.contacts__list {
			li {
				margin: 10px 0;
				&:first-child {
					margin-top: 0;
				}
				&:last-child {
					margin-bottom: 0;
				}
				a {
					font-weight: 400;
					color: #353a5a;
					&:hover {
						color: #0020ee;
					}
				}
			}
		}
		&:first-child {
			width: 270px;
		}
		&:last-child {
			width: 182px;
		}
	}
}
