.courses {
	@extend .container;
	&__container {
		width: 100%;
		margin-bottom: 120px;
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-size: 58px;
		font-feature-settings: "pnum" on, "lnum" on;
		color: #353a5a;
		margin-bottom: 60px;
		text-align: center;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 60px;
	}
	&__item {
		width: 270px;
		height: 226px;
		background: #fdfdfd;
		box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.2);
		border-radius: 10px;
		&-img {
			margin: 20px 20px 15px;
		}
		&-img-description {
			font-feature-settings: "pnum" on, "lnum" on;
			color: #353a5a;
			text-align: center;
		}
	}
	.btn-all-courses {
		@include btn-styles(230px, 56px, #10b582, 0px 20px);
		margin: auto;
	}
}
