.header {
	width: 100%;
	min-height: 64px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	.nav-bar {
		width: 650px;
		height: 24px;
		&__list {
			display: flex;
			justify-content: space-around;
		}
		&__item {
			margin-bottom: 8px;
		}
		&__link {
			
			&:hover {
				border-bottom: 2px dashed #fa9f42;
			}
		}
	}
}

