h3,
h4,
p,
a {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	color: #fdfdfd;
}

%text-style{
	font-family: "Raleway";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	color: #fdfdfd;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

button {
	border: none;
}

@mixin btn-styles($w, $h, $bgr, $br) {
	width: $w;
	height: $h;
	background: $bgr;
	border-radius: $br;
}
